* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#app {
   overflow: hidden;
}
body {
   font-family: 'Roboto', sans-serif;
}

input:focus {
   transition: outline .23s;
   outline: 2.5px solid #1A73E9;
}
.grey {
   color: #B1B1B1;
}
ul {
   list-style: none;
}
.avatar {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.d-flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.body-bg {
   height: 100vh;

   background-image: linear-gradient(#249688 100px, #DDDBD2 100px, #D2DBDB 67%);
}

.container {
   height: calc(100vh - 50px);
   width: 85vw;
   min-width: 760px;
   
   display: flex;

   background-color: #f1f1f1;
}

.left-side {
   width: 35%;
   height: 100%;

   border-right: 1px solid #D8D8D8;
}
.right-side {
   width: 65%;
   height: 100%;
}

/* TOP CONTENT */
.top-content {
   height: 60px;
   padding: 6px 10px;

   display: flex;
   justify-content: space-between;
   align-items: center;

   background-color: #EAEAEA;
}
.profile {
   height: 100%;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.profile img {
   margin-right: 10px;
}
.icons i {
   padding: 5px;
   cursor: pointer;
}
.last-access {
   color: #6D7577;
}

/* AREA NOTIFICA */
.notification-area {
   height: 70px;
   padding: 10px;

   display: flex;
   align-items: center;

   background-color: #8EDAFC;
}
.bell {
   min-width: 50px;
   height: 50px;

   text-align: center;

   background-color: rgba(255, 255, 255, .87);
   border-radius: 50%;
   cursor: pointer;
}
.bell i {
   color: #8EDAFC;
   line-height: 50px;
   font-size: 20px;
}
.active-notification {
   margin: 0 10px;
}
.active-notification p {
   font-size: 14px;
}
.active-notification span {
   color: rgba(0, 0, 0, .55);
   font-size: 12px;
   text-decoration: underline;
   cursor: pointer;
}

/* AREA RICERCA */
.search-area {
   height: 40px;
   padding: 6px;
}
.search-area input {
   width: 85%;
   height: 100%;

   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   border: none;
}
.search-area div {
   width: 15%;
   height: 100%;

   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;

   cursor: pointer;
   background-color: #fff;
}

/* AREA CHAT LISTA */
.chat-list {
   height: calc(100% - 60px - 70px - 40px);

   border-right: 1px solid #D8D8D8;
   border-top: 1px solid #D8D8D8;
   background-color: #fff;

   overflow: auto;
}
.contact {
   height: 60px;
   padding: 8px;

   display: flex;
   align-items: center;

   cursor: pointer;
   border-bottom: 1px solid #D8D8D8;
}
.contact:hover {
   background-color: #f5f5f5;
}
.contact:last-child {
   border-bottom: none;
}
.contact.active {
   background-color: #e7e7e7;
}
.contact .avatar {
   margin: 0 15px;
}
.contact span,
.profile span {
   font-size: 12px;
}
.contact .date,
.contact .last-msg {
   align-self: flex-start;
   line-height: 16px;
}
.contact .date {
   margin-left: auto;
}

/* WRITE MESSAGE */
.write-message {
   height: 60px;
   padding: 6px 0px;

   display: flex;
   justify-content: space-between;
   align-items: center;

   border-left: 1px solid #dadada;
   background-color: #F3EEEA;
}
.write-message .icons {
   margin: 0 10px;
   color: rgba(0, 0, 0, .55);
   font-size: 20px;
}
.write-message input {
   width: 100%;
   height: 90%;
   padding: 0 10px;

   border-radius: 5px;
   border: none;
}

/* DISPLAY MESSAGES */
.display-messages {
   height: calc(100% - 60px - 60px);

   background-image: url('../img/mine.jpg');

   overflow-y: scroll;
   overflow-x: hidden;
}
.display-messages .messages-container {
   width: 80%;
   margin: 30px auto 0;
}
.messages-container ul {
   display: flex;
   flex-direction: column;
}
.received {
   margin-right: auto;
   background-color: #fff;
}
.sent {
   margin-left: auto;
   background-color: #D6F9BB;
}
.received,
.sent {
   min-width: 36%;
   max-width: 70%;
   min-height: 60px;

   padding: 15px;
   padding-bottom: 25px;
   margin-top: 10px;
   margin-bottom: 10px;

   position: relative;
   display: inline-block;

   font-size: 16px;
   border-radius: 10px;
}
.messages-container ul li:hover .options{
   color: #acacac;
}
.messages-container span.date {
   position: absolute;
   bottom: 5px;
   right: 10px;

   color: #B5B7BB;
   font-size: 12px;
}
.options {
   padding: 0 0 3px 3px;

   position: absolute;
   top: 5px;
   right: 10px;

   color: transparent;
   cursor: pointer;
   transition: all .2s;
}
.list-options {
   position: absolute;
   top: 80%;
   
   color: #000;
   font-size: 14px;

   border-radius: 5px;
   box-shadow: 4px 3px 20px 1px rgba(0,0,0,0.25);
   background-color: #fff;
   z-index: 999;
}
/* slittamento a destra per msg ricevuti */
.received .list-options  {
   transform: translateX(-20%);
}
/* slittamento a sinistra per msg ricevuti */
.sent .list-options {
   transform: translateX(-60%);
}
.list-options li {
   min-width: 120px;
   padding: 7px 10px;
}
.list-options li:first-child {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.list-options li:last-child {
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}
.list-options li:hover {
   background-color: rgba(0,0,0,.1);
}


/* //BONUS del BONUS/// */
.deleted {
   color: #979797;
   font-style: italic;
}

/* MEDIA queries */
@media screen and (max-width: 768px) {
   .container {
      height: 100vh;
      width: 100vw;
      min-width: unset;
   }

   .left-side {
      width: 130px;
   }
   .icons.grey {
      display: none;
   }
   .notification-area {
      display: grid;
      place-items: center;
   }
   .active-notification {
      display: none;
   }
   .chat-list img.avatar {
      margin: 0 5px;
   }
   .chat-list .contact {
      overflow: hidden;
   }
   .chat-list .contact .date {
      display: none;
   }
   .right-side {
      width: calc(100% - 130px);
   }
   .display-messages span.date {
      font-size: .6em;
   }
}

@media screen and (max-width: 576px) {
   .left-side {
      width: 70px;
   }
   .chat-list .last-msg,
   .left-side .profile h5 {
      display: none;
   }
   .chat-list img.avatar,
   .left-side .profile {
      margin: 0;
      width: 45px;
      height: 45px;
   }
   .chat-list .contact,
   .top-content {
      display: grid;
      place-items: center;
   }
   .search-area .d-flex-center {
      width: 50%;
   }
   
   .right-side {
      width: calc(100% - 70px);
   }
   .right-side .profile span.date {
      font-size: .6em;
   }
   .right-side .display-messages ul li {
      font-size: .8em;
      padding: 10px;
      min-width: 29%;
      max-width: 84%;
   }
   .right-side .display-messages ul li span.date {
      padding-left: 6px;
   }
   .right-side .display-messages span.date {
      font-size: .55em;
   }
}

* {
   /* border: 1px solid red; */
}