<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css" integrity="sha512-gRH0EcIcYBFkQTnbpO8k0WlsD20x5VzjhOA1Og8+ZUAhcMUCvd+APD35FJw3GzHAP3e+mP28YcDJxVr745loHw==" crossorigin="anonymous" referrerpolicy="no-referrer">
   <link rel="stylesheet" href="css/style.css">
   <title>BoolzApp</title>
</head>
<body>
   
   <div id="app">

      <div class="body-bg d-flex-center">

         <div class="container">
   
            <div class="left-side">
   
               <div class="top-content">
                  <!-- sezione info profilo personale -->
                  <div class="profile">
                     <img 
                        src="img/avatar_io.jpg" 
                        alt="Io" 
                        class="avatar"
                     >
                     <h5>Luigi Verde</h5>
                  </div>
                  <!-- icone -->
                  <div class="icons grey">
                     <i class="fas fa-sync"></i>
                     <i class="fas fa-comment-alt"></i>
                     <i class="fas fa-ellipsis-v"></i>
                  </div>
               </div>
   
               <div class="notification-area">
                  <!-- campana -->
                  <div class="bell">
                     <i class="fas fa-bell-slash"></i>
                  </div>
                  <!-- attiva notifica toggle -->
                  <div class="active-notification">
                     <p>Ricevi notifiche di nuovi messaggi</p>
                     <span>Attiva notifiche desktop</span>
                  </div>
               </div>
   
               <!-- area di ricerca -->
               <div class="search-area d-flex-center grey">
                  <div class="d-flex-center">
                     <i class="fas fa-search"></i>
                  </div>
                  <input
                     v-model="stringSearch"
                     @keyup="searchContact"
                     type="text" 
                     placeholder="Cerca o inizia una nuova chat"
                  >
               </div>
   
               <!-- lista chat -->
               <div class="chat-list">

                  <!-- metodo alternativo::::
                  v-if="contact.name.toLowerCase().includes(stringSearch.toLowerCase())"
                  Senza utilizzare alcuna funzione in Vue.js -->
                  <div 
                     v-if="contact.visible || stringSearch === ''"
                     @click="onClickContact(index); resetShowOptionsList();"
                     class="contact"
                     :class="{active : (contacts[activeContact] === contact)}"
                     v-for="(contact, index) in contacts"
                  >
                     <!-- avatar img -->
                     <img 
                        :src="`img/avatar${contact.avatar}.jpg`" 
                        :alt="contact.name"
                        class="avatar"
                     >
                     <!-- ultimo messaggio -->
                     <div class="last-msg">
                        <h5>{{ contact.name }}</h5>
                        <span class="grey">{{ lastMsgPreview = getLastMsgPreview(contact) }}</span>
                     </div>
                     <!-- data ultimo messaggio -->
                     <div class="date">
                        <span class="grey">{{ getLastDateChatList(contact) }}</span>
                     </div>
                  </div>
               </div>
   
            </div>
   
            <div class="right-side">
   
               <div class="top-content">
                  <!-- info profilo chat aperta -->
                  <div class="profile">
                     <img 
                        :src="`img/avatar${contacts[activeContact].avatar}.jpg`"
                        class="avatar"
                     >
                     <section>
                        <h5>{{ contacts[activeContact].name }}</h5>
                        <span v-if="getLastDate() !== ''" class="last-access">
                           Ultimo accesso {{ getLastDate() }}
                        </span>
                     </section>
                  </div>
                  <!-- icone -->
                  <div class="icons grey">
                     <i class="fas fa-search"></i>
                     <i class="fas fa-paperclip"></i>
                     <i class="fas fa-ellipsis-v"></i>
                  </div>
               </div>

               <div class="display-messages">
                  <div class="messages-container">
                     <ul>
                        <li 
                           v-for="(item, index) in contacts[activeContact].messages"
                           :class="item.status"
                        >
                           <p :class="{deleted : item.message === textMsgDeleted}">
                              <i 
                                 v-if="item.message === textMsgDeleted"
                                 class="fas fa-ban"></i>
                              {{ messageDOM(item, index) }}
                           </p>
                           <span class="date">{{ item.date }}</span>
                           <div class="options">
                              <i 
                                 class="fas fa-chevron-down"
                                 @click="showOptionsList(index)"
                              ></i>
                              <ul 
                                 class="list-options"
                                 v-show="showOptions === index"
                              >
                                 <li>Info messaggio</li>
                                 <li @click="deleteMsg(index), showOptionsList(index)"> Elimina per me</li>
                                 <!-- visualizza solo per messaggi inviati -->
                                 <li 
                                    v-if="item.status !== 'received'"
                                    @click="deleteMsgForAll(index); showOptionsList(index);"
                                 >Elimina per tutti</li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
   
               <div class="write-message">
                  <!-- emote -->
                  <div class="icons">
                     <i class="far fa-smile"></i>
                  </div>
                  <!-- input messaggio -->
                  <input 
                     type="text" 
                     placeholder="Invia un messaggio"
                     v-model="msgToSend"
                     v-on:keyup.enter="sendMsg(); receiveMsg();"
                  >
                  <!-- registrazione -->
                  <div class="icons">
                     <i class="fas fa-microphone"></i>
                  </div>
               </div>

            </div>
   
         </div>
   
      </div>

   </div>

   <!-- cdn day.js -->
   <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
   <!-- cdn plugin customParseFormat.js -->
   <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/customParseFormat.js"></script>
   <!-- cdn Vue.js -->
   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script src="js/script.js"></script>
</body>
</html>