* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
}

input:focus {
   outline: 2.5px solid #00007e;
}
.grey {
   color: #B1B1B1;
}
ul {
   list-style: none;
}
.avatar {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.d-flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.body-bg {
   height: 100vh;

   background-image: linear-gradient(#249688 100px, #DDDBD2 100px, #D2DBDB 67%);
}

.container {
   height: calc(100vh - 50px);
   width: 85vw;
   min-width: 500px;
   
   display: flex;

   background-color: #f1f1f1;
}

.left-side {
   width: 35%;
   height: 100%;

   border-right: 1px solid #D8D8D8;
}
.right-side {
   width: 65%;
   height: 100%;
}
 
.top-content {
   height: 60px;
   padding: 6px;

   display: flex;
   justify-content: space-between;
   align-items: center;

   background-color: #EAEAEA;
}

/* AREA NOTIFICA */
.notification-area {
   height: 70px;

   background-color: #8EDAFC;
}

/* AREA RICERCA */
.search-area {
   height: 40px;
   padding: 6px;
}
.search-area input {
   width: 85%;
   height: 100%;

   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   border: none;
}
.search-area div {
   width: 15%;
   height: 100%;

   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;

   cursor: pointer;
   background-color: #fff;
}

/* AREA CHAT LISTA */
.chat-list {
   width: calc(100% - 10px);
   height: calc(100% - 60px - 70px - 40px);

   border-right: 1px solid #D8D8D8;
   border-top: 1px solid #D8D8D8;
   background-color: #fff;

   overflow: auto;
}
.contact {
   height: 60px;
   padding: 8px;

   display: flex;
   align-items: center;

   cursor: pointer;
   border-bottom: 1px solid #D8D8D8;
}
.contact:last-child {
   border-bottom: none;
}
.contact.active {
   background-color: #EAEBEA;
}
.contact .avatar {
   margin: 0 14px 0 20px;
}
.contact span {
   font-size: 12px;
}
.contact .date,
.contact .last-msg {
   align-self: flex-start;
   line-height: 16px;
}
.contact .date {
   margin-left: auto;
}